@font-face {
  font-family: 'PPSupplyMono';
  src: url('../../assets/PPSupplyMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "PPSupplyMono";
}

body {
  margin: 0px;
  padding: 16px;
  background-color: rgba(10, 10, 10, 0.9);
  color: #ffffff;
}

h1 {
  margin: 0px;
  font-weight: 100;
  font-size: 1.5rem;
}